@model Activite

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Activite</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.heureDebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.heureDebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.heureFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.heureFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descriptionAct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descriptionAct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomActivite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomActivite)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idActivite">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
