@model IEnumerable<Activite>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.heureDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.heureFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descriptionAct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomActivite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.heureDebut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.heureFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descriptionAct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomActivite)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idActivite">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idActivite">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idActivite">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
